//font-colors
$white-color: #FFFFFF;
$border-color: #CCCCCC;
$topbar-a-color: #F2F2F2;
$black-color: #222222;
$portfolio-header: #333333;
$portfolio-paragraph: #737373;
$black-i-color: #212121;
$orange-color: #FED136;
$grey-paragraph: #777777;
$grey-color: #F7F7F7;
$grey-contact-color: #484848;
$thick-color: #F9F9F9;
$footer-color: #555555;
$twitter-color: #00aced;
$facebook-color: #3B5998;
$google-color: #A52A2A; 
$pinterest-color: #CB2028;
$contact-color: #BBBBBB;
// font-styles
$font-Open: 'Open Sans', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;
$font-Droid: 'Droid Serif', serif;
$font-Roboto: 'Roboto Slab', sans-serif;
