$white-color: #FFFFFF;
$border-color: #CCCCCC;
$topbar-a-color: #F2F2F2;
$black-color: #222222;
$black-i-color: #212121;
$orange-color: #FED136;
$grey-paragraph: #777777;
$grey-color: #F7F7F7;
$grey-contact-color: #484848;
$thick-color: #F9F9F9;
$footer-color: #555555;
$font-Open: Open Sans Condensed, sans-serif;
$font-montserrat: Montserrat, sans-serif;

* {
    box-sizing: border-box;
}

body {
    background-color: $white-color;
}

.about {
    text-align: center;
    width: 100%;
    margin: 0 auto;
}
/*font-Open*/

header {
    height: 690px;
    background-image: url("../imgpng/backgroundheader.png");
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    position: relative;
    background-size: cover;
}

.topbar {
    font-size: 14px;
    font-weight: 400;
    line-height: 41px;
    float: right;
    text-transform: uppercase;
    padding-top: 20px;
}

.topbar {
    li {
        display: block;
        float: left;
    }
    
    a {
        float: right;
        color: $topbar-a-color;
        text-align: center;
        padding: 0 16px;
        text-decoration: none;
        font-size: 17px;
        &:hover {
            color: $orange-color;
        }
        &.active {
            color: $white-color;
        }
    }
}

.welcome {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.welcome {
    margin-top: 100px;

    h1 {
        color: $white-color;
        font-family: $font-montserrat;
        font-size: 55px;
        font-weight: 600;
        letter-spacing: -1.88px;
        text-transform: uppercase;
        width: 100%;
        height: 59px;
    }

    h3 {
        color: $white-color;
        font-family: $font-montserrat;
        font-size: 30px;
        font-style: italic;
        letter-spacing: -1px;
        top: 276px;
    }
}

h2 {
    padding: 50px 0 0;
    color: $black-color;
    font-family: $font-montserrat;
    text-transform: uppercase;
    font-weight: 700;
}

.services {
    padding-top: 126px; 
    padding-bottom: 116px;
}

.services-header {
    margin-bottom: 84px;

    h2 {
        font-size: 40px;
        letter-spacing: -1px;
        line-height: 75px;
        color: $black-color;
        font-family: $font-montserrat;
        font-weight: 700;
    }

    p {
        font-size: 16px;
        color: $grey-paragraph;
        font-family: $font-Open;
        font-weight: 400;
        font-style: italic;
    }
}

.services-main-paragraph {
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 75px;
    color: $black-color;
    font-family: $font-montserrat;
    font-weight: 700;
}

.services-paragraph {
    font-size: 14px;
    letter-spacing: 0px;
    color: $grey-paragraph;
    font-family: $font-Open;
    font-weight: 400;
}

.logo {
    width: 99px;
    height: 38px;
    line-height: 41px;
    margin-left: 110px;
    margin-top: 20px;
    position: absolute;
}

.button {
    padding-top: 60px;
}

.btn {
    width: 240px;
    height: 65px;
    background-color: $orange-color;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 100px;
}

.container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.background-portfolio {
    background-color: $grey-color;
}

.portfolio {
    padding-bottom: 80px;
    padding-top: 110px;
    
    img {
        padding: 25px 22.5px;
    }
}

.absolute {
    position: absolute;
}

.absolute img {
    padding-bottom: 20px;
}

.calendar h2 {
    font-size: 40px;
    letter-spacing: -1px;
    line-height: 75px;
    color: $black-color;
    font-family: $font-montserrat;
    font-weight: 700;
    text-align: center;
}

.calendar-header  {
    padding-bottom: 90px;

    h2 {
        padding-top: 115px;
    }

    p {
        font-size: 16px;
        color: $grey-paragraph;
        font-family: $font-Open;
        font-weight: 400;
        font-style: italic;
    }
}

.calendar-background {
    padding-bottom: 115px;
}

.vertical-line {
    border-left: thick solid $thick-color;
    position: absolute;
    height: 400px;
    display: block;
    z-index: -1;
}

.calendar-row {
    display: flex;
    justify-content: center;
    min-height: 300px;
}

.calendar-left-text {
    display: flex;
    justify-content: center;
    max-width: 30%;
    margin-right: auto;
    h5 {
        font-size: 18px;
        letter-spacing: 0px;
        color: $black-color;
        font-family: $font-montserrat;
        font-weight: 700;
        text-align: right;
    }

      p {
        font-size: 14px;
        letter-spacing: 0px;
        color:  $black-color;
        font-family: $font-montserrat;
        font-weight: 400;
        text-align: right;
    }
}

.calendar-right-text {
    display: flex;
    justify-content: flex-start;
    max-width: 30%;
    margin-left: auto;
    h5 {
        font-size: 18px;
        letter-spacing: 0px;
        color: $black-color;
        font-family: $font-montserrat;
        font-weight: 700;
        text-align: left;
    }

    p {
        font-size: 14px;
        letter-spacing: 0px;
        color:  $black-color;
        font-family: $font-montserrat;
        font-weight: 400;
        text-align: left;
    }
}

.team-background {
    background-color: $grey-color;  
}

.team {
    text-align: center;

    h6 {
        font-size: 16px;
        letter-spacing: 0px;
        line-height: 50px;
        color: $black-color;
        font-family: $font-montserrat;
        font-weight: 700;
        text-align: center;
    }

    h2 {
        font-size: 40px;
        letter-spacing: -2px;
        color: $black-color;
        font-family: $font-montserrat;
        font-weight: 700;
    }

    p {
        font-size: 16px;
        color: $grey-paragraph;
        font-family: $font-montserrat;
        font-weight: 400;
        font-style: italic;
        text-align: center;
    }
}

.team-h {
    padding-top: 115px;
    padding-bottom: 84px;
}

.team-p {
    padding-bottom: 115px;
}

.socialmedia-team {
    padding: 0 59px;
    display: inline-block;

    li {
        list-style: none;
        float: left;
        margin-right: 11px;

        a {
            text-decoration: none;
        }

        i {
            background-color: $grey-color;
            color: $black-color;
            width: 40px;
            height: 40px;
            border-radius: 20px;
            padding-top: 10px;
            border: 3px solid $black-i-color;
        }
    }
}

.sponsor-background {
    width: 100%;
    padding: 57px 0;
}

.contact-background {
    background-image: url("../imgpng/backgroundcontact.png");
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    position: relative;
    background-size: cover;
}

.contact {
    h6 {
        padding: 50px 0 0;
        color: $white-color;
        font-family: $font-montserrat;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 40px;
    }

     p {
        color: $grey-contact-color;
        font-family: $font-montserrat;
    }
}

input[type=text] {
    font-size: 14px;
    letter-spacing: 0px;
    color: $black-color;
    font-family: $font-montserrat;
    font-weight: 700;
    padding: 25.8px 0;
    padding-left: 25.8px;
    border-radius: 2px;
    background-color: $white-color;
    border: 1px solid $border-color;
}

textarea[type=text] {
    font-size: 14px;
    letter-spacing: 0px;
    color: $black-color;
    font-family: $font-montserrat;
    font-weight: 700;
    height: 209px;
    background-color: $white-color;
    border: 1px solid $border-color;
}

.row::before, 
.row::after {
    content: "";
    display: table;
    clear: both;
}

[class*="col-"] {
    min-height: 1px;
    padding: 10px;
}

header, footer, {
    text-align: center;
}

.socialmedia {
    display: inline-block;
    text-align: center;

    li {
        list-style: none;
        display: block;
        float: left;
        margin-right: 20px;

        a {
            text-decoration: none;

            i {
                background-color: $black-color;
                color: $white-color;
                width: 35px;
                height: 35px;
                border-radius: 50%;
                padding-top: 10px;
            }
        }
    }
}

footer {
    margin-top: 34px;

    p {
        font-size: 14px;
        letter-spacing: 0px;
        line-height: 22px;
        float: left;
        font-family: $font-montserrat;
        font-weight: bold;
        color: $footer-color;
    }

    i {
        background-color: $white-color;
        color: $black-color;
        width: 40px;
        height: 40px;
        border-radius: 20px;
    }
}

@media only screen and (max-width: 768px) {
    .welcome {
        h1 {
        font-size: 30px;
    }

         h3 {
        font-size: 20px;
    }

    .button {
        padding-top: 100px;
    }
}}

@media only screen and (max-width: 468px) {
    .welcome {
        display: block;
    }

    .logo {
        display: block;
        position: relative;
        text-align: center;
    }
}