$white-color: #FFFFFF;
$topbar-a-color: #F2F2F2;
$black-color: #222222;
$black-i-color: #212121;
$orange-color: #FED136;
$grey-color: #F7F7F7;
$grey-contact-color: #484848;
$thick-color: #F9F9F9;
$fonts: Open Sans Condensed, sans-serif;
$fonts-h: "Montserrat", sans-serif;

* {
    box-sizing: border-box;
}

body {
    background-color: $white-color;
}

.about {
    text-align: center;
    width: 100%;
    margin: 0 auto;
}
/*fonts*/
h4, h3, p {
    font-family: $fonts;
}

header {
    height: 690px;
    background-image: url("../imgpng/backgroundheader.png");
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    position: relative;
    background-size: cover;
}

.topbar {
    font-size: 14px;
    font-weight: 400;
    line-height: 41px;
    float: right;
    text-transform: uppercase;
    padding-top: 20px;
}

.topbar {
    li {
        display: block;
        float: left;
    }
    
    a {
        float: right;
        color: $topbar-a-color;
        text-align: center;
        padding: 0 16px;
        text-decoration: none;
        font-size: 17px;
        &:hover {
            color: black;
        }

        &.active {
            color: white;
        }
    }
}

.welcome {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.welcome {
    margin-top: 100px;
    h1 {
        color: $white-color;
        font-family: $fonts-h;
        font-size: 55px;
        font-weight: 600;
        letter-spacing: -1.88px;
        text-transform: uppercase;
        width: 100%;
        height: 59px;
    }

    h3 {
        color: $white-color;
        font-family: $fonts-h;
        font-size: 30px;
        font-style: italic;
        letter-spacing: -1px;
        top: 276px;
    }
}

h2 {
    padding: 50px 0 0;
    color: $black-color;
    font-family: $fonts-h;
    text-transform: uppercase;
    font-weight: 700;
}

.services {
    padding-top: 126px; 
    padding-bottom: 116px;
}

.services-h {
    margin-bottom: 84px;
}

.services-p {
    font-weight: bold;
    font-size: 20px;
}

.logo {
    width: 99px;
    height: 38px;
    line-height: 41px;
    margin-left: 110px;
    margin-top: 20px;
    position: absolute;
}

.btn {
    width: 240px;
    height: 65px;
    background-color: $orange-color;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 100px;
    margin-top: 50px;
}

.container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.background-portfolio {
    background-color: $grey-color;
}

.portfolio {
    padding-bottom: 80px;
    padding-top: 110px;
}

.absolute {
    position: absolute;
}

.absolute img {
    padding-bottom: 20px;
}

.callendar h2, h5 {
    font-weight: bold;
}

.callendar-h h2 {
    padding-top: 115px;
}

.callendar-background {
    padding-bottom: 115px;
}

.vertical-line {
    border-left: thick solid $thick-color;
    position: absolute;
    height: 400px;
    display: block;
    z-index: -1;
}

.callendar-row {
    display: flex;
    justify-content: center;
    min-height: 300px;
}

.callendar-left-text {
    display: flex;
    justify-content: center;
    max-width: 30%;
    margin-right: auto;
}

.callendar-right-text {
    display: flex;
    justify-content: flex-start;
    max-width: 30%;
    margin-left: auto;
}

.team-background {
    background-color: $grey-color;  
}

.team-h {
    padding-top: 115px;
    padding-bottom: 84px;
}

.team-p {
    padding-bottom: 115px;
}

.socialmedia-team {
    display: inline-block;
    text-align: center;
    margin-top: 20px;
    li {
        list-style: none;
        display: block;
        float: left;
        margin-right: 20px;

        a {
            text-decoration: none;
        }

        i {
            background-color: $grey-color;
            color: $black-color;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            padding-top: 10px;
            border: 2px solid $black-i-color;
        }
    }
}

.sponsor-background {
    width: 100%;
    padding: 57px 0;
    padding-left: 294px;
    padding-right: 294px;
}

.contact-background {
    background-image: url("../imgpng/backgroundcontact.png");
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    position: relative;
    background-size: cover;
}

.contact {
    h6 {
        padding: 50px 0 0;
        color: $white-color;
        font-family: $fonts-h;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 40px;
    }

     p {
        color: $grey-contact-color;
        font-family: $fonts-h;
    }
}

.row::before, 
.row::after {
    content: "";
    display: table;
    clear: both;
}

[class*="col-"] {
    min-height: 1px;
    padding: 10px;
}

header, footer, {
    text-align: center;
}

.socialmedia {
    display: inline-block;
    text-align: center;
    li {
        list-style: none;
        display: block;
        float: left;
        margin-right: 20px;

        a {
            text-decoration: none;
            i {
                background-color: $black-color;
                color: $white-color;
                width: 35px;
                height: 35px;
                border-radius: 50%;
                padding-top: 10px;
            }
        }
    }
}

footer {
    p {
        float: left;
        font-size: 12px;
    }

    i {
    background-color: $white-color;
    color: $black-color;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    padding-top: 10px;
    }
}

@media only screen and (max-width: 768px) {
    .welcome {
    
        h1 {
        font-size: 30px;
    }

         h3 {
        font-size: 20px;
    }
}}