* {
    box-sizing: border-box;
}

body {
    background-color: #F8F8FF;
}

.about {
    text-align: center;
    width: 100%;
    margin: 0 auto;
}
/*fonts*/
h4, h3, p {
    font-family: 'Pacifico', cursive;
}

header {
    height: 690px;
    background-image: url("./imgpng/backgroundheader.png");
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    position: relative;
    background-size: cover;
}

.topbar {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 41px;
    float: right;
    text-transform: uppercase;
}

.topbar li {
    display: block;
    float: left;
}

.topbar li a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 0 16px;
    text-decoration: none;
    font-size: 17px;
}

.topbar li a:hover {
    color: black;
}

.topbar li a.active {
    color: white;
}

.welcome {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.welcome h1 {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 75px;
    font-weight: 700;
    letter-spacing: -1.88px;
    text-transform: uppercase;
}

h2 {
    padding: 50px 0 0;
    color: #222222;
    font-family: Montserrat;
    text-transform: uppercase;
    font-weight: 700;
}

.welcome h3 {
    color: #ffffff;
    font-family: "Droid Serif";
    font-size: 40px;
    font-style: italic;
    letter-spacing: -1px;
    text-transform: uppercase;
}

.logo {
    width: 79px;
    height: 28px;
    color: #fed136;
    font-family: "Wisdom - Script";
    font-size: 26px;
    font-weight: 400;
    line-height: 41px;
    letter-spacing: 1.3px;
}

.btn {
    width: 240px;
    height: 65px;
    background-color: #fed136;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 100px;
}

.container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.portfolio {
    background-color: #f7f7f7;
}

.team {
    background-color: #D3D3D3;
}
/*Text on right*/
.july-row {
    display: flex;
    flex-direction: row;
}

.july-text {
    flex-direction: column;
}

.january-row {
    display: flex;
    flex-direction: row;
}

.january-text {
    flex-direction: column;
}


.december-row {
    display: flex;
    flex-direction: row;
}

.december-text {
    flex-direction: column;
}


.february-row {
    display: flex;
    flex-direction: row;
}

.february-text {
   flex-direction: column;
}

.contact {
    background-image: url("./imgpng/backgroundcontact.png");
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    position: relative;
    background-size: cover;
}

.contact h5 {
    padding: 50px 0 0;
    color: #ffffff;
    font-family: Montserrat;
    text-transform: uppercase;
    font-weight: 700;
}

.contact p {
    color: #484848;
    font-family: Droid Serif;
}

.row::before, 
.row::after {
    content: "";
    display: table;
    clear: both;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both; }

[class*="col-"] {
    float: left;
    min-height: 1px;
    padding: 10px;
}

header, footer, {
    text-align: center;
}

.socialmedia {
    display: inline-block;
    text-align: center;
    margin-top: 20px;
}

.socialmedia li {
    list-style: none;
    display: block;
    float: left;
    margin-right: 20px;
}

.socialmedia li a {
    text-decoration: none;
}

footer p {
    float: left;
}

footer i {
    background-color: #222222;
    color: #ffffff;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    padding-top: 10px;
}

@media only screen and (max-width: 768px) {
    .welcome h1 {
        font-size: 40px;
    }

    .welcome h3 {
        font-size: 30px;
    }
}