* {
    box-sizing: border-box;
}

body {
    background-color: #F8F8FF;
}

header {
    height: 690px;
    background-image: url("./imgpng/backgroundheader.png");
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    position: relative;
    background-size: cover;
}

.logo {
    width: 79px;
    height: 28px;
}

.menu {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 41px;
    float: right;
    text-transform: uppercase;
}

.menu li {
    display: block;
    float: left;
}

.topbar li a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 0 16px;
    text-decoration: none;
    font-size: 17px;
}

.topbar li a:hover {
    color: black;
}

.topbar li a.active {
    color: white;
}

.welcome {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 75px;
    font-weight: 700;
    letter-spacing: -1.88px;
    text-transform: uppercase;
}

h2 {
    padding: 50px 0 0;
    color: #222222;
    font-family: Montserrat;
    text-transform: uppercase;
    font-weight: 700;
}

h3 {
    color: #ffffff;
    font-family: "Droid Serif";
    font-size: 40px;
    font-style: italic;
    letter-spacing: -1px;
    text-transform: uppercase;
}

h4 {
    width: 79px;
    height: 28px;
    color: #fed136;
    font-family: "Wisdom - Script";
    font-size: 26px;
    font-weight: 400;
    line-height: 41px;11110
    letter-spacing: 1.3px;
}

.btn {
     width: 240px;
    height: 65px;
    background-color: #fed136;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.container {
    width: 100%;
    margin: 0 auto;
    text-align:center;
}

.main, {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
    text-align: center;
}

.portfolio {
    background-color: #f7f7f7;
}

.first {
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.row::before, 
.row::after {
    content: "";
    display: table;
    clear: both;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both; }

[class*="col-"] {
    float: left;
    min-height: 1px;
    padding: 10px;
}

header, footer, {
    text-align: center;
}

.socialmedia {
    display: inline-block;
    text-align: center;
}

.socialmedia li {
    list-style: none;
    display: block;
    float: left;
    margin-right: 20px;
}

.socialmedia li a {
    text-decoration: none;
}

footer p {
    float: left;
}

footer i {
    background-color: #222222;
    color: #ffffff;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    padding-top: 10px;
}


