$white-color: #FFFFFF;
$border-color: #CCCCCC;
$topbar-a-color: #F2F2F2;
$black-color: #222222;
$black-i-color: #212121;
$orange-color: #FED136;
$grey-paragraph: #777777;
$grey-color: #F7F7F7;
$grey-contact-color: #484848;
$thick-color: #F9F9F9;
$footer-color: #555555;
$font-Open: Open Sans Condensed, sans-serif;
$font-montserrat: Montserrat;
$red: red;